%nav
  .row
    .columns
      %ul.breadcrumbs
        - if admin?
          %li
            = link_to 'Dealerships', dealerships_path

        %li= link_to 'Deals', deals_path

        - if @product_list.master?
          %li
            Master Product List
        - elsif @product_list.listable_type == "Deal"
          %li= link_to @listable.client.name, deal_path(@listable)
%main
  .row
    .columns
      %h1 Product List
  = render 'form'

