%nav
  .row
    .columns
      %ul.breadcrumbs
        %li= link_to 'Dealerships', dealerships_path
        %li.current= @dealership.name
        %li= link_to 'Users', dealership_users_path(@dealership)
%main
  .row
    .medium-4.columns
      %h1 New User
      = render 'form'
