select, input[type="text"] {
  height: rem-calc(20);
  padding: rem-calc(2) rem-calc(5);
}

.postfix {
  height: rem-calc(20);
  line-height: rem-calc(20)
}

form {
  input[data-autonumeric] {
    &::placeholder {
      color: #c0c0c0;
    }
  }
}
