// Place all the styles related to the Video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.videolist {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .content-item {
        margin-top: 20px;
        cursor: pointer;
        position: relative;
        //min-height: 300px;
        display: flex;

        .title {
            padding: 20px;
            font-size: 17px;
            line-height: 1.6;
            font-weight: bold;
            display: flex;
            p {
                font-size: 17px;
                font-weight: bold;
                margin-left: 10px;
            }
        }

        img {
            box-sizing: border-box;
            width: 250px;
        }
        
        .buttons {
            background-color: #E65100;
            position: absolute;
            top: 55px;
            left: 95px;
            display: none;
            width: 60px;
            height: 30px;
            font-size: 17px;
            text-align: center;
            font-weight: bold;
            color: white;
        }
    }
    .content-item:hover {
        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            opacity: .6;
        }
    }
}

.page-content {
    padding-top: 30px;
    padding-bottom: 100px;
    .video-content {
        display: flex;
        flex-flow: column;
        height: 100%;

        .player {
            position: sticky;
            top: 0;
            z-index: 10;
        }

    }
}

.pdflist {
    list-style-type: none;
    li {
        white-space: nowrap;
        img {
            margin-right: 10px;
        }
    }
}