<h3>Hello <%= @resource.name %>!</h3>

<% if @resource.last_sign_in_at.nil? %>
  <p>Your account with Innovative Pricing Solutions has been successfully activated!</p>
  <table cellspadding="0" cellspacing="0" style="border: 0; border-collapse: collapse;">
    <tr>
      <td style="padding-right: 1em">Your login:</td>
      <td style="font-weight: bold;"><%= @resource.email %></td>
    </tr>
    <tr>
      <td style="padding-right: 1em">Please set up your password here:</td>
      <td style="font-weight: bold;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></td>
    </tr>
  </table>
  <p>
    Sincerely,<br />
    - IPS team
  </p>

<% else %>
  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
<%end%>
