<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Innovative Pricing Solutions</title>
</head>

<body style="font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;">
  <%= yield %>

  <table cellspadding="0" cellspacing="0" style="width: 100%; margin-top: 4em; border: 0; border-collapse: collapse; border-top: 1px solid #eeeeee;">
    <tr style="vertical-align: top;">
      <td style="width: 8em; margin: 0; padding-top: 1em; font-size: 12px; font-weight: 900; line-height: 1em; text-transform: uppercase;">Innovative Pricing Solutions</td>
      <td style="padding-top: 1em; color: #aaaaaa; font-size: 12px;">
        <%= t :company_legal_name %>, Vancouver, BC, Canada<br />
        Email: <a href="mailto:info@innovativepricingsolutions.com" style="color: #aaaaaa;">info@innovativepricingsolutions.com</a>
      </td>
    </tr>
  </table>
</body>
</html>
